/*@font-face {
  font-family: 'proxima-italic';
  src: url('fonts/ProximaNovaAExCn-ExtrabldIt.eot');
  src: url('fonts/ProximaNovaAExCn-ExtrabldIt.eot#iefix') format('embedded-opentype'),
       url('fonts/ProximaNovaAExCn-ExtrabldIt.woff') format('woff'),
       url('fonts/ProximaNovaAExCn-ExtrabldIt.ttf') format('truetype'),
       url('fonts/ProximaNovaAExCn-ExtrabldIt.svg') format('svg') ; 
}
*/